/* Para telas menores que 768px */
@media (max-width: 768px) {
    header {
        height: auto;
        clip-path: none;
    }

    .div__titulo {
        margin-top: 5rem;
    }

    .logo__pagina {
        width: 80%;
        height: 20vh;
    }

    nav {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .div__botoes {
        gap: 1rem;
        flex-direction: column;
        display: none;
        width: 100%;
        text-align: center;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    .div__botoes.active {
        display: flex;
    }

    .cards {
        padding: 2rem;
    }

    .linha {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .contatos {
        flex-direction: column;
    }

    .div__contatos {
        text-align: center;
    }

    .div__botao__contatos {
        margin-top: 1rem;
    }

    .botao__contato {
        padding: 0.5em 1em;
    }

    /* Menu hambúrguer */
    .lista__menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    .lista__menu.active {
        display: flex;
    }

    .menu-toggle:checked + .menu-icon + .lista__menu {
        display: flex;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
    }

    .menu-icon span {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px 0;
        transition: 0.4s;
    }

    /* Efeito de "X" no menu quando ativo */
    .menu-toggle:checked + .menu-icon span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle:checked + .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked + .menu-icon span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Para telas menores que 480px */
@media (max-width: 480px) {
    .div__titulo h1 {
        font-size: 2rem;
    }

    .div__botoes a {
        font-size: 1rem;
    }

    .botao__saibaMais,
    .botao__contato {
        padding: 0.5em 1em;
        font-size: 0.9rem;
    }

    .menu-icon span {
        height: 2px;
    }
}
